html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    margin: 0px;
    min-height: 200px;
    padding: 0px;
    width: 400px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: 0px;
    color: #ffa500;
}

.avatar {
    padding: 15px;
}

.avatar-img {
    vertical-align: text-bottom;
}

img {
    width: 50px;
}

.modal-header {
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.modal-content {
    padding: 0px 20px;
}

.modal-icons {
    border-top: 1px solid #ccc;
    height: 50px;
    width: 100%;
}

a:link, a:visited {
    color: #000;
    outline: 0px;
    text-decoration: none;
}