html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    margin: 0px;
    min-height: 200px;
    padding: 0px;
    width: 400px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: 0px;
    color: #ffa500;
}

a:link, a:visited {
    color: #000;
    outline: 0px;
    text-decoration: none;
}

img {
    width: 50px;
}

.modal-header {
    align-items: center;
    border-bottom: 1px solid #ccc;
}