html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    min-height: 200px;
    width: 400px;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #ffa500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: 0px;
}

.modal-header {
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.avatar {
    padding: 15px;
}

.avatar-img {
    margin-right: 10px;
    vertical-align: text-bottom;
}

img {
    width: 50px;
}

.version {
    font-size: 15px;
    color: #ff0000;
}

.modal-content {
    padding: 0px 20px;
}

p {
    text-align: center;
}

.modal-icons {
    border-top: 1px solid #ccc;
    height: 50px;
    width: 100%;
}

.flex-container {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}

.flex {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.flex:hover {
    opacity: 0.5;
}

a:link, a:visited {
    color: #000;
    text-decoration: none;
    outline: 0px;
}

.flex .fa {
    color: #ffa500;
    font-size: 50px;
}